<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">Microsoft 365 Gratis Microsoft Teams</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700' rel='stylesheet' type='text/css'>
		<!--CSS-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/slick.css"/>
        <link rel="stylesheet" href="assets/css/slick-theme.css">

</head>
<body id="body" class="home" data-spy="scroll" data-target=".navbar" data-offset="110">
<!--Preloader-->
<div class="preloader-it">
	<div class="la-anim-1"></div>
</div>
<!--/Preloader-->
<!-- Border
	<div class="border">
		<div id="border-top"></div>
		<div id="border-left"></div>
		<div id="border-right">
			<nav class="navbar navbar-default vertical-nav" role="navigation">
				<ul class="nav navbar-nav">
					<li><a data-scroll href="#body"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#about"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#services"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#work"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#team"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#pricing"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#client"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#blog"><span class="nav-dots"><span class="slant"></span></span></a></li>
					<li><a data-scroll href="#contact"><span class="nav-dots"><span class="slant"></span></span></a></li>
				</ul>
			</nav>
		</div>
		<div id="border-bottom"></div>
	</div> -->

<!--Header-->
<div class="header">
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
		   <div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" 
				 data-target="#example-navbar-collapse">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
			  </button>
			   <a class="navbar-brand" data-scroll href="index.html">
					<img class="dark img-fluid" src="assets/img/logodark.png" style="max-height: 2em;" alt="logo"/>
			   </a>
		   </div>
			<div class="nav-trig">
				<div class="target-hamburger">
					<ul><span style="color:white;">Menu</span>
						<li class="bun"></li>
						<li class="bun"></li>
						<li class="bun"></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>
<!--/Header-->

<!--Slanted Overlay Menu-->
<div class="nav-slanted"></div>
<div class="nav-full-screen hidden">
	<nav class="navbar overlay-nav"  role="navigation">
		<div class="overlay-menu-menu">
			<ul  class="nav">
				<li class="menu-item active-menu"><a data-scroll href="#body">Home</a></li>
				<li class="menu-item"><a data-scroll href="#about">about</a></li>
				<li class="menu-item"><a data-scroll href="#services">services</a></li>
				<li class="menu-item"><a data-scroll href="#work">work</a></li>
				<li class="menu-item"><a data-scroll href="#team">team</a></li>
				<li class="menu-item"><a data-scroll href="#pricing">pricing</a></li>
				<li class="menu-item"><a data-scroll href="#client">client</a></li>
				<li class="menu-item"><a data-scroll href="#blog">blog</a></li>
				<li class="menu-item"><a data-scroll href="#contact">contact</a></li>
			</ul>
			<div class="">
				<ul class="social-icons">
					<li>
						<a href="#" class="social-icon">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="#" class="social-icon">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" class="social-icon">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li>
						<a href="#" class="social-icon">
							<i class="fa fa-behance"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>	
	</nav>
	
</div>
<!--/Slanted Overlay Menu-->

<!--slider container-->
<section id="slider" class="slider-container hero parallax-hero">
	<div class="slider-control left inactive"></div>
	<div class="slider-control right"></div>
	<ul class="slider-pagi"></ul>
	<div class="slider  slider-height">
		
		<!--Slider One-->
		<div class="slide slide-0 active">
			<div class="slide__bg"></div>
			<div class="slide__content">
                
				<!--/Slider Overlay-->
				<div class="container">
					<!--Slider Info-->
					<div class="slide__text" style="top:10vh">
                        <img class="img-fluid" src="assets/img/microsoft-teams-microsoft-teams-icon-png-transparent-.png" height="auto">
						<h1 class="slide__text-heading pr-2" style="font-size:52px;">Layanan Gratis <br /> Selama 6 Bulan</h1>
						<p class="slide__text-desc lead col-sm-6" style="padding-bottom: 20px; font-size: 18px !important;">Lakukan kolaborasi tanpa menurunkan tingkat privasi dan keamanan dimanapun Anda berada.<br />
                        <a class="col-sm-2 btn2" href="#" style="margin-top: 20px; margin-left: 10px">Lebih lanjut</a></p>
					</div>
					<!--/Slider Info-->
				</div>	
			</div>
		</div>
		<!--/Slider One-->
		
	
	</div>
</section>
<!--/slider container-->

<!--Main Content-->
<div class="main-content">

<!--About Sec-->
<div id="bgms">
	<section id="about" class="container padding-sec-lg about-sec">
	<div class="row">
		<div class="col-lg-6 center-div">
            <img class="img-fluid" src="assets/img/hiclipart.com.png" height="120px">
			<h2 style="color:black">
				Microsoft 365
			</h2>
		</div>
	</div>	

	<div class="row about-info-row">
		<div class="col-lg-4">
			<p class="h3">Dirancang untuk membantu Anda menyelesaikan lebih banyak hal dengan aplikasi Office yang inovatif, layanan cloud cerdas, dan keamanan terbaik.</p>
		</div>
		<div class="col-lg-4">
			<p class="h3" style="color: black;">Dengan Microsoft 365, jadikan hidup lebih kreatif, tertata, dan aman. Microsoft 365 sudah termasuk seluruh aplikasi Offic, Skype dan penyimpanan cloud OneDrive.</p>
		</div>
		<div class="col-lg-4">
			<p class="h3" style="color: black;">Microsoft 365 dirancang untuk membantu semua orang menjadi lebih produktif dan inklusif di semua perangkat terlepas dari keahlian mereka.</p>
        </div></div>
        <div class="seprator">
				<span class="seprator-sm center-div"></span>
			</div>
        <a href="" class="btn btn-3 btn-3e icon-arrow-right">Pesan<i class="fa fa-angle-right" style="padding-top:.5em;"></i></a>
        <div class="seprator">
				<span class="seprator-sm center-div"></span>
			</div>
        <div class="col-lg-12 col-xs-12 col-sm-12 center-div"><img class="img-fluid" src="assets/img/logooffice.png" height="120px">
				</div>
	</section>
</div>	
<!--/About Sec-->

<!--Team Sec-->
    <section class="container center-div">
<div class="row">
    <div class="items card-deck">
  <div class="col-md-6">
      <div class="card">
  <img class="card-img-top img-fluid" src="https://source.unsplash.com/Nh4Sxasye24/350x200" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Dapatkan Penyimpanan 1TB dengan OneDrive</h5>
    <p class="card-text">Simpan pekerjaan kantor, foto liburan, atau video bersama keluarga di rumah dalam penyimpanan cloud yang aman dan lega.</p>
  </div>
</div></div>
    
  <div class="col-md-6">
      <div class="card">
  <img class="card-img-top" src="https://source.unsplash.com/OGOWDVLbMSc/350x200" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tetap terhubung dengan Skype</h5>
    <p class="card-text">Hubungi teman dan keluarga melalui panggilan suara dan video yang jernih, tanpa gangguan.</p>
  </div>
</div></div>
    
  <div class="col-md-6">
      <div class="card">
          <button><i class="fa fa-arrow-left"></i></button>
  <img class="card-img-top" src="https://source.unsplash.com/gp8BLyaTaA0/350x200" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Semua lebih mudah dengan Teams</h5>
    <p class="card-text">Mulai dari daftar belanja rumah tangga, rencana perjalanan, hingga meeting penting bulanan semua lebih mudah diakses dengan Teams.</p>
  </div>
      </div></div>
    
     <div class="col-md-6">
      <div class="card">
  <img class="card-img-top" src="https://source.unsplash.com/p-xSl33Wxyc/350x200" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tetap produktif di manapun</h5>
    <p class="card-text">Word, Excel, Powerpoint dan semua aplikasi Office dapat dipasang di seluruh perangkat anda: laptop, desktop, tablet ataupun mobile.</p>
  </div>
      </div></div>
        
         <div class="col-md-6">
      <div class="card">
  <img class="card-img-top" src="https://source.unsplash.com/Klf0icSX4N4/350x200" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kolaborasi yang lebih efisien</h5>
    <p class="card-text">Baik untuk proyek sekolah, presentasi penjualan, maupun pekerjaan kantor, Anda dapat bekerja dengan mudah bersama orang lain untuk mewujudkan ide dan rencana dengan lebih cepat.</p>
  </div>
      </div></div>
    </div></div>
        
                <div class="row" style="margin-top:3em">
		<div class="col-lg-6 center-div">
			<h2 style="color:black">
				Masa Dukungan Windows 7 telah Berakhir
			</h2>
            <span>Mulai Januari 2020, Windows 7 tidak lagi mendapat dukungan dan pembaruan dari Microsoft. Untuk sistem operasi yang lebih aman, lebih cepat dan mendapat pembaruan berkala, kami sarankan untuk berpindah ke <strong>Windows 10</strong> sekarang juga. Cek promo menarik dari kami untuk pembelian Windows 10.</span>
		</div>
	</div>
        <div class="seprator">
				<span class="seprator-sm center-div"></span>
			</div></section>
<!--/Team Sec-->

<!--Start A Project Sec-->
<section class="start-project">
	<div class="padding-sec-sm">
	<div class="slanted-head"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 style="color:white;">
					WINDOWS 7 END OF SUPPORT
				</h2>
				<div class="seprator">
					<span class="seprator-sm center-div"></span>
				</div>
			</div>
			<div class="col-md-3 img-fluid">
				<img src="assets/img/win7.png">
			</div>
            <div class="col-md-5 img-fluid" style="padding-left: 5em; padding-top: 1em;">
				<img src="assets/img/win-10.png">
			</div>
		</div>	
	</div>	
</div>
</section>
<!--/Start A Project Sec-->

<!--Contact Sec-->
<section id="contact"  class="contact-sec padding-sec-lg">
	<div class="form-wrap container" data-ng-controller="ContactController" data-ng-app="contactApp">
		<div class="row">
			<div class="col-lg-6 center-div">
				<h2>
					Hubungi Kami
				</h2>
				<div class="seprator">
					<span class="seprator-sm center-div"></span>
					
				</div>
			</div>
		</div>	
		<div class="row">
        <div class="col-lg-6">
		<form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class=" form-horizontal" role="form">
			<div class="form-group col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
				<div class="input-wrap">
					<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
				</div>	
			</div>
			<div class="form-group  col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
				<div class="input-wrap">
					<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required>
				</div>	
			</div>
			<div class="form-group  col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
				<div class="input-wrap">
					<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
				</div>	
			</div>
			<div class="form-group">
				<div class="center-div">
					<button  type="submit" class="btn btn-3 btn-3e icon-arrow-right" data-ng-disabled="submitButtonDisabled">send<i class="fa fa-angle-down"></i></button>
				</div>
			</div>
		</form>
		<p data-ng-class="result">{{ resultMessage }}</p>
	</div>
	<div class="address-sec container">
		<div class="row">
            <div class="col-xs-4">
				<img src="assets/img/footer1.jpg" class="img-fluid">	
			</div>
			<div class="col-xs-4">
				<div class="icon col-md-1 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div>
				<div class="col-md-11 col-sm-10 col-xs-11">
					<span class="tag">email</span>
				</div>
				<div class="clearfix"></div>
				<div class="col-lg-12">	
					<a href="mailto:aaa" target="_blank">Synnex@synnex.com</a>
				</div>	
			</div>
			<div class="col-xs-4">
				<div class="icon col-md-1 col-sm-2 col-xs-1"><i class="fa fa-phone"></i></div>
				<div class="col-md-11 col-sm-10 col-xs-11">
					<span class="tag">phone</span>
				</div>
				<div class="clearfix"></div>
				<div class="col-lg-12">		
					<a href="callto:954788315970" target="_blank">+62 831-5970</a>
				</div>	
			</div>
			<div class="col-xs-4">
				<div class="icon col-md-1 col-sm-2 col-xs-1"><i class="fa fa-map-marker"></i></div>
				<div class="col-md-11 col-sm-10 col-xs-11">
					<span class="tag">address</span>
				</div>
				<div class="clearfix"></div>
				<div class="col-lg-12">
					<p>PL Tower 42nd Floor Suite 1-8 Jl. Letjen S. Parman Kav. 28, Jakarta 11470.</p>
				</div>	
			</div>
		</div>	
	</div></div></div>
</section>
<!--/Contact Sec-->

</div>
<!--/Main Content-->
<!--Footer Sec-->
<section class="footer-sec" style="background-color: grey;">
	<footer>
			<div class="slanted-head"></div>
			<div class="container center-div padding-sec-xs">
				<div class="copyright">
					<ul class="social-icons">
						<li>
							<a href="" class="social-icon">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="" class="social-icon">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="" class="social-icon">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="" class="social-icon">
								<i class="fa fa-behance"></i>
							</a>
						</li>
					</ul>
					<p>© 2020 PT. Synnex Metrodata Indonesia with coorperation with Microsoft Indonesia </p>
				</div>	
			</div>	
		<div class="gototop">
			<a href="#body" data-scroll class="btn btn-3 btn-3e"><i class="fa fa-angle-up"></i></a>
		</div>
	</footer>
</section>	
<!--/Footer Sec-->
    

<!--JavaScripts-->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/controllers.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script>
<script src="assets/js/init.js"></script>
    <script type="text/javascript" src="assets/js/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
    
    <!--<script type="text/javascript">
$(document).ready(function(){
    
$('.items').slick({
  centerMode: true,
  centerPadding: '20px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: true,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
})
});
</script>-->	
<script>
    $('.items')
  .on('init', () => {
    $('.slick-slide[data-slick-index="-2"]').addClass('lt2');
    $('.slick-slide[data-slick-index="-1"]').addClass('lt1');
    $('.slick-slide[data-slick-index="1"]').addClass('gt1');
    $('.slick-slide[data-slick-index="2"]').addClass('gt2');
})
  .slick({
  centerMode: true,
  centerPadding: 0,
  slidesToShow: 3
}).on('beforeChange', (event, slick, current, next) => {
  $('.slick-slide.gt2').removeClass('gt2');
  $('.slick-slide.gt1').removeClass('gt1');
  $('.slick-slide.lt1').removeClass('lt1');
  $('.slick-slide.lt2').removeClass('lt2');

  const lt2 = (current < next && current > 0) ? current - 1 : next - 2;
  const lt1 = (current < next && current > 0) ? current : next - 1;
  const gt1 = (current < next || next === 0) ? next + 1 : current;
  const gt2 = (current < next || next === 0) ? next + 2 : current + 1;

  $(`.slick-slide[data-slick-index="${lt2}"]`).addClass('lt2');
  $(`.slick-slide[data-slick-index="${lt1}"]`).addClass('lt1');
  $(`.slick-slide[data-slick-index="${gt1}"]`).addClass('gt1');
  $(`.slick-slide[data-slick-index="${gt2}"]`).addClass('gt2');

  // Clone processing when moving from 5 to 0
  if (current === 5 && next === 0) {
    $(`.slick-slide[data-slick-index="${current - 1}"]`).addClass('lt2');
    $(`.slick-slide[data-slick-index="${current}"]`).addClass('lt1');
    $(`.slick-slide[data-slick-index="${current + 2}"]`).addClass('gt1');
    $(`.slick-slide[data-slick-index="${current + 3}"]`).addClass('gt2');
  }

  // Clone processing when moving from 0 to 5
  if (current === 0 && next === 5) {
    $(`.slick-slide[data-slick-index="${current - 1}"]`).addClass('gt2');
    $(`.slick-slide[data-slick-index="${current}"]`).addClass('gt1');
    $(`.slick-slide[data-slick-index="${current - 2}"]`).addClass('lt1');
    $(`.slick-slide[data-slick-index="${current - 3}"]`).addClass('lt2');
  }

  console.log('beforeChange', current, ':', lt2, lt1, next, gt1, gt2);
});
</script>
    
</body>
</html>


